In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np 
from tensorflow.keras import layers
from tensorflow import keras
from datetime import datetime
import pandas as pd
import os

2022-12-31 22:20:43.753844: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
tf.get_logger().setLevel('ERROR')
tf.autograph.set_verbosity(0)
tf.set_seed = 42
epoch = 10

In [3]:
# import data
(train_features,train_labels), (test_features, test_labels) = tf.keras.datasets.reuters.load_data()

# Check the data shape
print(
    f"Train_features : {train_features.shape} {train_features.dtype} \n" 
    f"Train_labels : {train_labels.shape} {train_labels.dtype} \n" 
    f"Test features : {test_features.shape} {test_features.dtype} \n" 
    f"Test_labels : {test_labels.shape} {test_labels.dtype} "
    )

Train_features : (8982,) object
Train_labels : (8982,) int64
Test features : (2246,) object
Test_labels : (2246,) int64

In [5]:
train_features_np = np.array(train_features)
print(train_features_np.shape, train_features_np.dtype)
print(len(train_features))

print(train_features[1])

(8982,) object
8982
[1, 3267, 699, 3434, 2295, 56, 16784, 7511, 9, 56, 3906, 1073, 81, 5, 1198, 57, 366, 737, 132, 20, 4093, 7, 19261, 49, 2295, 13415, 1037, 3267, 699, 3434, 8, 7, 10, 241, 16, 855, 129, 231, 783, 5, 4, 587, 2295, 13415, 30625, 775, 7, 48, 34, 191, 44, 35, 1795, 505, 17, 12]

In [6]:
tensor_test = tf.cast(train_features[1], dtype=tf.float32)

print(tensor_test)

tf.Tensor(
[1.0000e+00 3.2670e+03 6.9900e+02 3.4340e+03 2.2950e+03 5.6000e+01
 1.6784e+04 7.5110e+03 9.0000e+00 5.6000e+01 3.9060e+03 1.0730e+03
 8.1000e+01 5.0000e+00 1.1980e+03 5.7000e+01 3.6600e+02 7.3700e+02
 1.3200e+02 2.0000e+01 4.0930e+03 7.0000e+00 1.9261e+04 4.9000e+01
 2.2950e+03 1.3415e+04 1.0370e+03 3.2670e+03 6.9900e+02 3.4340e+03
 8.0000e+00 7.0000e+00 1.0000e+01 2.4100e+02 1.6000e+01 8.5500e+02
 1.2900e+02 2.3100e+02 7.8300e+02 5.0000e+00 4.0000e+00 5.8700e+02
 2.2950e+03 1.3415e+04 3.0625e+04 7.7500e+02 7.0000e+00 4.8000e+01
 3.4000e+01 1.9100e+02 4.4000e+01 3.5000e+01 1.7950e+03 5.0500e+02
 1.7000e+01 1.2000e+01], shape=(56,), dtype=float32)

In [13]:
train_features_df = pd.DataFrame(train_features)
train_features_df

                                                      0
0     [1, 27595, 28842, 8, 43, 10, 447, 5, 25, 207, ...
1     [1, 3267, 699, 3434, 2295, 56, 16784, 7511, 9,...
2     [1, 53, 12, 284, 15, 14, 272, 26, 53, 959, 32,...
3     [1, 4, 686, 867, 558, 4, 37, 38, 309, 2276, 46...
4     [1, 8295, 111, 8, 25, 166, 40, 638, 10, 436, 2...
...                                                 ...
8977  [1, 313, 262, 2529, 1426, 8, 130, 40, 129, 363...
8978  [1, 4, 96, 5, 340, 3976, 23, 328, 6, 154, 7, 4...
8979  [1, 141, 3890, 387, 81, 8, 16, 1629, 10, 340, ...
8980  [1, 53, 46, 957, 26, 14, 74, 132, 26, 39, 46, ...
8981  [1, 227, 2406, 91, 21969, 125, 2855, 21, 4, 39...

[8982 rows x 1 columns]